# **Series**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a' : 10, 'b' : 20, 'c' : 30}

In [ ]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [ ]:
pd.Series(data = arr)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(data = d)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
d = {'a' : 10, 'b' : 20, 'c' : 30}
l = [1,2,3]

In [ ]:
pd.Series(data = d.keys(),index = l)
pd.Series(data = d.values(),index  = l)

1    10
2    20
3    30
dtype: int64

In [ ]:
ser = pd.Series(['India','U.K.','Spain','Germany'],[1,2,3,4])
ser

1      India
2       U.K.
3      Spain
4    Germany
dtype: object

In [ ]:
ser[3]

'Spain'

In [ ]:
ser1 = pd.Series([5,1,4,3,4],['Brazil','Spain','Germany','Argentina','Italy'])
ser1

Brazil       5
Spain        1
Germany      4
Argentina    3
Italy        4
dtype: int64

In [ ]:
ser2 = pd.Series([3,2,1,3,2],['Spain','Italy','Portugal','Germany','France'])
ser2

Spain       3
Italy       2
Portugal    1
Germany     3
France      2
dtype: int64

In [ ]:
ser1 + ser2

Argentina    NaN
Brazil       NaN
France       NaN
Germany      7.0
Italy        6.0
Portugal     NaN
Spain        4.0
dtype: float64

# **Dataframes**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from numpy.random import randn

In [ ]:
np.random.seed(101)

In [ ]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [ ]:
df[['X','Y']]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
C  0.740122  0.528813
D -0.758872 -0.933237
E  1.978757  2.605967

In [ ]:
df['New'] = df['X'] - df['Z']
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  0.124307
B  0.651118 -0.319318 -0.848077  0.605965 -0.925283
C -2.018168  0.740122  0.528813 -0.589001  1.329123
D  0.188695 -0.758872 -0.933237  0.955057 -1.713929
E  0.190794  1.978757  2.605967  0.683509  1.295248

In [ ]:
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  0.124307
B  0.651118 -0.319318 -0.848077  0.605965 -0.925283
C -2.018168  0.740122  0.528813 -0.589001  1.329123
D  0.188695 -0.758872 -0.933237  0.955057 -1.713929
E  0.190794  1.978757  2.605967  0.683509  1.295248

In [ ]:
df.drop('New',axis=1) #axis = 0 means index, we have set it to 1 so that we can delete the 'New' column

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  0.124307
B  0.651118 -0.319318 -0.848077  0.605965 -0.925283
C -2.018168  0.740122  0.528813 -0.589001  1.329123
D  0.188695 -0.758872 -0.933237  0.955057 -1.713929
E  0.190794  1.978757  2.605967  0.683509  1.295248

In [ ]:
df.drop('New',axis = 1, inplace = True) #inplace = True is used if we want to apply the changes to the dataframe
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df.drop('D')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## **Why is "axis = 0" for rows and "axis = 1" for columns?**

Its because the dataframe is basically a NumPy array and the size of the above dataframe is 5x4. If we execute df.shape it will return a tuple containing (5,4). Row is at 0th index and column is at 1th index.